:root {
  --bg-color: #ffffff;
  --text-color: #050504;
  --main-color: #45c7a4;
  --other-color: #020202;
  --second-color: #ffffff4f;

  --h1-font: 7, 5rem;
  --p-font: 1.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}